{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'profile/vendor/fontawesome-free/css/all.css' %}">

</head>
<body>
    
    <div class="wrapper">
       
            
        <div class="side">
            <div class="sidebar">
        <div class="toggling">
            <div class="bars"><i class="fa fa-bars"></i></div>
            <div class="cancel"><i class="fa fa-times-circle"></i></div>
          </div>
            <div class="sidebar-content">
                <div class="categories-section side-section">
                    <h3 class="side-title">
                        Categories
                    </h3>
                    <ul class="side-section-list categories">
                        <li class="catrgory side-section-item active-item"><i class="fa fa-tshirt"></i> clothings</li>
                        <li class="catrgory side-section-item"><i class="fa fa-pizza-slice"></i> Food</li>
                        <li class="catrgory side-section-item"><i class="fa fa-book"></i> Books</li>
                        <li class="catrgory side-section-item"><i class="fa fa-bicycle"></i> Bikes</li>
                        <li class="catrgory side-section-item"><i class="fa fa-laptop"></i> Laptops</li>
                        <li class="catrgory side-section-item"><i class="fa fa-mobile-alt"></i> Smart phones</li>
                        <li class="catrgory side-section-item"><i class="fa fa-pizza-slice"></i> Food</li>
                        <li class="catrgory side-section-item"><i class="fa fa-tshirt"></i> clothings</li>
                    </ul>
                </div>

                <div class="areas-section side-section">
                        <h3 class="side-title">
                            Area
                        </h3>
                        <ul class="side-section-list areas">
                            <li class="area side-section-item"><i class="fa fa-map-marker-alt"> </i> Mabungo</li>
                            <li class="area side-section-item"><i class="fa fa-map-marker-alt"> </i> New sunrise</li>
                            <li class="area side-section-item"><i class="fa fa-map-marker-alt"> </i> Vet</li>
                            <li class="area side-section-item"><i class="fa fa-map-marker-alt"> </i> Nyawita</li>
                            <li class="area side-section-item"><i class="fa fa-map-marker-alt"> </i> Makerere</li>
                        
                        </ul>


                    </div>



            </div>
        </div>
        </div>


       
</body>
</html>